.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-class {
  position: fixed !important;
  top: 0 !important;
  z-index: 1 !important;
  width: 100% !important;
}

.state-list {
  margin-top: 8rem !important;
}

/* state list table */
.state-list-table-header {
  position: sticky;
  top: 5.7rem !important;
}

@media (max-width: 858px) {
  .state-list {
    margin-top: 12rem !important;
  }

  .state-list-table-header {
    top: 6rem !important;
  }
}

@media (max-width: 708px) {
  .state-list-table-header {
    top: 8rem !important;
  }
}

/* State Card */
.state-card-title {
  font-size: larger;
  font-weight: 700;
  font-family: auto;
  color: #000;
}
.state-card-state-name:hover {
  color: #F32424;
  text-decoration: underline;
}
.state-card-state-name {
  text-decoration: none;
  color: blue;
  font-family: initial;
}
.state-card-header {
  background: inherit;
}
.state-card-body {
  background: inherit;
  color: inherit;
}
.carousel-button {
  color: blue !important;
}
.carousel-button:hover {
  color: #F32424 !important;
}