.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white-color {
  color: #fff;
}
.bg-ghostwhite {
  background: ghostwhite;
}
.primary1-clolor {
  color: #A66CFF;
}
.primary2-clolor {
  color: #9C9EFE;
}
.primary3-clolor {
  color: #AFB4FF;
}
.primary4-clolor {
  color: #B1E1FF;
}
.primary1-bg {
  background: #A66CFF;
}
.primary2-bg {
  background: #9C9EFE;
}
.primary3-bg {
  background: #AFB4FF;
}
.primary4-bg {
  background: #B1E1FF;
}

.header-class {
  position: fixed !important;
  top: 0 !important;
  z-index: 1 !important;
  width: 100% !important;
}
.state-list {
  margin-top: 8rem !important;
}

/* state list table */
.state-list-table-header {
  position: sticky;
    top: 5.7rem;
    background: cadetblue;
}